spring:
  application:
    name: matchimban-api

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/matchimban}
    username: ${DB_USERNAME:matchimban}
    password: ${DB_PASSWORD:matchimban}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

management:
  endpoints:
    web:
      exposure:
        include: health